@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary font */
#root {
    font-family: "Khand", sans-serif;
}

/* Component specific fonts */
.title-res {
    font-family: "Oswald", sans-serif;
}

.title-sm {
    font-family: "Oswald", sans-serif;
}

.description {
    font-family: "Quicksand", sans-serif;
}

@media (min-width: 1024px) {
    .title {
        font-family: "Oswald", sans-serif;
        letter-spacing: 3px;
    }
}

/* Disable text selection globally */
* {
    @apply select-none;
}

/* Global button focus ring removal */
@layer base {
    * {
        transition: background-color 0.5s ease, color 0.5s ease,
            border-color 0.5s ease, right 0.5s ease-in-out;
    }
}

/* Global Transition for toggling light/dark theme */
@layer base {
    * {
        transition: background-color 0.5s ease, color 0.5s ease,
            border-color 0.5s ease, right 0.5s ease-in-out;
    }
}

/* Glow effects */
.glow-effect {
    box-shadow: 0 0 25px rgba(236, 131, 11, 0.808);
    transition: box-shadow 0.3s ease-in-out;
}

.glow-effect:hover {
    box-shadow: 0 0 40px rgba(244, 130, 36, 0.753);
}

.dark .glow-effect {
    box-shadow: 0 0 15px rgba(255, 238, 0, 0.808);
    transition: box-shadow 0.3s ease-in-out;
}

.dark .glow-effect:hover {
    box-shadow: 0 0 25px rgba(255, 255, 0, 0.753);
}

/* Hide default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

/* Gray placeholder color before selecting date */
.date-placeholder::-webkit-datetime-edit {
    color: #6b7280; /* Tailwind's gray-500 */
}

/* White text after date is picked */
.date-picked::-webkit-datetime-edit {
    color: #1f2937;
}

.dark .date-picked::-webkit-datetime-edit {
    color: #f5f3f0;
}

/* Custom cursor */
@layer base {
    html,
    .custom-cursor-default {
        cursor: url("/assets/cursors/arrow.cur"), auto;
    }

    a,
    button,
    button:hover,
    .custom-cursor-pointer {
        cursor: url("/assets/cursors/pointer.cur"), pointer;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    textarea,
    [contenteditable="true"] {
        cursor: url("/assets/cursors/text-selector.cur"), text;
    }

    body.waiting,
    .loading {
        cursor: url("/assets/cursors/working.cur"), wait;
    }

    .progress {
        cursor: url("/assets/cursors/progress.cur"), progress;
    }

    .help,
    [aria-describedby] {
        cursor: url("/assets/cursors/help-select.cur"), help;
    }

    .move,
    [draggable="true"] {
        cursor: url("/assets/cursors/move.cur"), move;
    }

    .resize-ns {
        cursor: url("/assets/cursors/resize-ver.cur"), ns-resize;
    }

    .resize-ew {
        cursor: url("/assets/cursors/resize-hor.cur"), ew-resize;
    }

    .resize-bl {
        cursor: url("/assets/cursors/resize-dia-1.cur"), sw-resize;
    }

    .resize-br {
        cursor: url("/cursors/resize-dia-2.cur"), se-resize;
    }
}

/* Scrollbar for WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

html.dark ::-webkit-scrollbar-thumb {
    background-color: #facc15;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    background-color: #f48224c0;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

html.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #b48700;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cd6c1cc0;
}

/* Allow scrolling but hide the bar */
html.no-scrollbar::-webkit-scrollbar,
body.no-scrollbar::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
}

html.no-scrollbar,
body.no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: auto; /* allow scroll but hide scrollbar */
}

@media (max-width: 768px) {
    .table-wrapper {
        overflow-x: auto; /* allow horizontal scroll */
        -ms-overflow-style: none; /* IE/Edge */
        scrollbar-width: none; /* Firefox */
    }

    .table-wrapper::-webkit-scrollbar {
        height: 0; /* hides horizontal scrollbar */
        display: none; /* fallback for WebKit */
    }
}
