@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Khand', sans-serif;
}

@media (min-width: 1024px) {
  .title {
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
  }
}

.title-res {
  font-family: "Oswald", sans-serif;
}

.title-sm {
  font-family: "Oswald", sans-serif;
}

.description {
  font-family: 'Quicksand', sans-serif;
}
