@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Khand', sans-serif;
}

@media (min-width: 1024px) {
  .title {
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
  }
}

.title-res {
  font-family: "Oswald", sans-serif;
}

.title-sm {
  font-family: "Oswald", sans-serif;
}

.description {
  font-family: 'Quicksand', sans-serif;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideOutDown {
  from {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(40) scale(0.8);
  }
}
